*{
    margin-top: 10px;
}
#read_all, #new_user_form, #user_card, #edit_form{
    margin-left: 60px;
    margin-right: 60px;
}

.home_link, .home {
    display: flex;
    justify-content: right;
    margin-right: 60px;
}

.btn{
    margin-top: 30px;
}
.user_card{
    display: flex;
    justify-content: right;
    border: 2px solid black;
}
#read_one, .delete{
    margin-left: 60px;
}

